.nav {
	display: flex;
	justify-content: space-between;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

ul {
	list-style: none;
	position: absolute;
	top: 150px;
	left: -30px;
}

ul li a {
	text-decoration: none;
	color: black;
	display: flex;
	position: relative;
	left: 19px;
	top: 13px;
}

.active__nav {
	background-color: #0d6efd;
}

ul li a:hover {
	color: #fff;
}

ul li {
	background-color: #f2f3f5;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin: 5px;
	transition: width 0.2s linear;
}

ul li:hover {
	width: 120px;
	background-color: #0d6efd;
}

ul li:hover .icon span {
	color: #fff;
}

ul li a span {
	opacity: 0;
	transition: opacity 0.3s linear;
	margin-top: 4px;
}

.icon {
	margin-right: 5px;
	font-size: 21px;
}

ul li:hover span {
	opacity: 1;
}
