.modal-window {
	width: 100%;
	height: auto;
	z-index: 10;
	background: linear-gradient(to bottom, #fff, #333);
	padding: 20px;
	padding-top: 130px;
}

.modal-img {
	width: 500px;
	height: 500px;
}

.btn-modal {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 2rem;
}
